<div class="card">
  <div class="card-body ">
    <nav class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login" routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/auth/register"
          routerLinkActive="active"
          >Register</a
        >
      </li>
    </nav>
    <div class="py-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
